                               Feature Engineering
                                
         The objective of the project is to build a model that determines if the loan in progress is likely to charge off or not. 
         
         The following activities are performed as part of feature engineering milestone -2. 
         
         1. From the loan dataframe, a subset of data is obtained for inactive loans, i.e, the loan that is already charged off or fully paid.
         2. Dropped the fields that have more than 97% of null data.
         3. Obtained unique values in categorical fields to check for conformance needs.
         4. Transformed data to achieve data conformance.
         5. Converted the categorical values into dummies in current loan dataframe.
         6. Assigned loan_status_Charged Off as Target variable. 
         7. Obtained the Correlation of other features with respect to the target variable.
         8. Scaled the numeric features for standardization.
         9. Using Forward selection technique, obtained the top 7 features impacting target variable.
         10.Using Chi Squared selection technique, obtained the top 10 categorical features impacting target variable.

In [34]:
# Load required libraries

import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [35]:
# Load the data into dataframe

loanapp_df = pd.read_csv("/Users/manikantanvenkataraman/Downloads/archive (1)/loan/loan.csv")

In [36]:
# Review the data
loanapp_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Obtain unique values for loan status

loanapp_df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [51]:
# Split the dataframe into multiple dataframe based on loan status
status=['Charged Off', 'Fully Paid']
inactive_loans = loanapp_df[loanapp_df.loan_status.isin(status)]
current_loans = loanapp_df[loanapp_df.loan_status=='Current']

In [52]:
# Number of nulls in every attribute
pd.set_option("max_columns", None)
pd.set_option("max_rows", None)
inactive_loans.isna().sum() * 100 / len(inactive_loans)

id                               0.000000
member_id                        0.000000
loan_amnt                        0.000000
funded_amnt                      0.000000
funded_amnt_inv                  0.000000
term                             0.000000
int_rate                         0.000000
installment                      0.000000
grade                            0.000000
sub_grade                        0.000000
emp_title                        5.506955
emp_length                       3.912306
home_ownership                   0.000000
annual_inc                       0.000000
verification_status              0.000000
issue_d                          0.000000
loan_status                      0.000000
pymnt_plan                       0.000000
url                              0.000000
desc                            65.087302
purpose                          0.000000
title                            0.005139
zip_code                         0.000000
addr_state                       0.000000
dti                              0.000000
delinq_2yrs                      0.000000
earliest_cr_line                 0.000000
inq_last_6mths                   0.000000
mths_since_last_delinq          55.666460
mths_since_last_record          87.509240
open_acc                         0.000000
pub_rec                          0.000000
revol_bal                        0.000000
revol_util                       0.078665
total_acc                        0.000000
initial_list_status              0.000000
out_prncp                        0.000000
out_prncp_inv                    0.000000
total_pymnt                      0.000000
total_pymnt_inv                  0.000000
total_rec_prncp                  0.000000
total_rec_int                    0.000000
total_rec_late_fee               0.000000
recoveries                       0.000000
collection_recovery_fee          0.000000
last_pymnt_d                     0.208324
last_pymnt_amnt                  0.000000
next_pymnt_d                   100.000000
last_credit_pull_d               0.008301
collections_12_mths_ex_med       0.022137
mths_since_last_major_derog     81.205356
policy_code                      0.000000
application_type                 0.000000
annual_inc_joint                99.999605
dti_joint                       99.999605
verification_status_joint       99.999605
acc_now_delinq                   0.000000
tot_coll_amt                    25.183914
tot_cur_bal                     25.183914
open_acc_6m                     99.943076
open_il_6m                      99.943076
open_il_12m                     99.943076
open_il_24m                     99.943076
mths_since_rcnt_il              99.944658
total_bal_il                    99.943076
il_util                         99.950192
open_rv_12m                     99.943076
open_rv_24m                     99.943076
max_bal_bc                      99.943076
all_util                        99.943076
total_rev_hi_lim                25.183914
inq_fi                          99.943076
total_cu_tl                     99.943076
inq_last_12m                    99.943076
dtype: float64

In [53]:
# Drop the fields with null values for more than 97%

inactive_loans.drop(['next_pymnt_d', 'annual_inc_joint', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m'], axis = 1, inplace=True)
current_loans.drop(['next_pymnt_d', 'annual_inc_joint', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m'], axis = 1, inplace=True)

In [54]:
# Obtain unique values for categorical data

print('Loan status:', inactive_loans.loan_status.unique())
print('term:', inactive_loans.term.unique())
print('grade:', inactive_loans.grade.unique())
print('sub_grade:', inactive_loans.sub_grade.unique())
print('verification_status:', inactive_loans.verification_status.unique())
print('desc:', inactive_loans.desc.unique())
print('purpose:', inactive_loans.purpose.unique())
print('application_type:', inactive_loans.application_type.unique())
print('emp_title:', inactive_loans.emp_title.unique())
print('emp_length:', inactive_loans.emp_length.unique())
print('home_ownership:', inactive_loans.home_ownership.unique())

Loan status: ['Fully Paid' 'Charged Off']
term: [' 36 months' ' 60 months']
grade: ['B' 'C' 'A' 'E' 'F' 'D' 'G']
sub_grade: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F1' 'E5' 'G4'
 'E2' 'G2' 'G1' 'F5' 'F4' 'G5' 'G3']
verification_status: ['Verified' 'Source Verified' 'Not Verified']
desc: ['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan ...
 'Well, I am a 44 year old with a family of 5 children (oldest just enlisted in the service) and  good stable job, earning about $85,000 per year. I have two large accounts with a major lender, and a good payment history, yet their interest rate is 18% and 13% respectively on my accounts and i am currently paying a little over $400 a month in interest ALONE. Credit score at or near 700. I am looking for some reprieve from these high interest rates and look forward to becoming debt free ASAP. I asked the lending institiution and their solution would send my credit score in the tank. I appreciate all your time effort and energy on my behalf.'
 'Already put 19500 into my home addition. The frame and everythingis paid for cash. Want to finish the electrical, plumbing, sheetrock. Have equity in my house but I was always taught never to take an additional mortgage out.  Looking for a good rate and good terms. '
 'I am looking for a loan to pay my credit cards off as well as making some very much needed auto repairs']
purpose: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
application_type: ['INDIVIDUAL' 'JOINT']
emp_title: [nan 'Ryder' 'AIR RESOURCES BOARD' ... 'Asst. General Superintendent '
 'Gunnery Sgt Instructor' 'Coordinator of RSVP']
emp_length: ['10+ years' '< 1 year' '3 years' '9 years' '4 years' '5 years' '1 year'
 '6 years' '2 years' '7 years' '8 years' nan]
home_ownership: ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' 'ANY']

In [55]:
# Transform the field - verification_status

inactive_loans['verification_status'] = inactive_loans['verification_status'].replace(['Source Verified'],'Verified')
current_loans['verification_status'] = current_loans['verification_status'].replace(['Source Verified'],'Verified')
inactive_loans.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Verified,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.0,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0.0,Nov-2004,3.0,NaN,NaN,9.0,0.0,7963.0,28.3,12.0,f,0.0,0.0,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.00,Jan-2015,161.03,Sep-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [42]:
# Convert the categorical values into dummies in current loan dataframe

dummies = pd.get_dummies(current_loans[['term', 'grade', 'sub_grade', 'verification_status','purpose', 'emp_length','home_ownership']], drop_first=True)
charged_off_loans.loan_status.unique()
current_loans = pd.concat([current_loans.drop(['term', 'grade', 'sub_grade', 'verification_status','purpose', 'emp_length','home_ownership'],axis=1), dummies],axis=1)
current_loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_title,annual_inc,issue_d,loan_status,pymnt_plan,url,desc,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,verification_status_Verified,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
4,1075358,1311748,3000.0,3000.0,3000.0,12.69,67.79,University Medical Group,80000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.90,766.90,3242.17,3242.17,2233.10,1009.07,0.0,0.0,0.0,Jan-2016,67.79,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6,1069639,1304742,7000.0,7000.0,7000.0,15.96,170.08,Southern Star Photography,47004.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/18/11 > I am planning o...,Loan,280xx,NC,23.51,0.0,Jul-2005,1.0,NaN,NaN,7.0,0.0,17726.0,85.6,11.0,f,1889.15,1889.15,8136.84,8136.84,5110.85,3025.99,0.0,0.0,0.0,Jan-2016,170.08,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
32,1065420,1299514,10000.0,10000.0,9975.0,15.96,242.97,US Legal Support,29120.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,Brown Eyes Loan,330xx,FL,22.83,0.0,Feb-1997,1.0,68.0,NaN,11.0,0.0,16158.0,63.6,31.0,f,2695.31,2688.53,11622.36,11593.40,7304.67,4317.69,0.0,0.0,0.0,Jan-2016,242.97,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
39,1069346,1304237,12500.0,12500.0,12475.0,12.69,282.44,United States Infrastructure Corporation,27000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/20/11 > The purpose of ...,Credit card debt,604xx,IL,16.04,0.0,Dec-2001,3.0,NaN,NaN,6.0,0.0,10143.0,50.0,24.0,f,3193.13,3186.72,13506.54,13479.58,9306.87,4199.67,0.0,0.0,0.0,Jan-2016,282.44,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
61,1068934,1277395,17500.0,8950.0,8925.0,17.27,223.74,NaN,40000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 11/28/11 > Thanks.<br> Bor...,Start Up,951xx,CA,19.47,0.0,May-2006,1.0,NaN,NaN,5.0,0.0,10724.0,58.9,6.0,f,2462.25,2455.34,10713.52,10683.65,6487.75,4225.77,0.0,0.0,0.0,Jan-2016,223.74,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [56]:
# Convert the categorical values into dummies in chargedoff loan dataframe

dummies1 = pd.get_dummies(inactive_loans[['term', 'grade', 'sub_grade', 'verification_status','purpose', 'emp_length','home_ownership']], drop_first=True)
inactive_loans.loan_status.unique()
inactive_loans = pd.concat([inactive_loans.drop(['term', 'grade', 'sub_grade', 'verification_status','purpose', 'emp_length','home_ownership'],axis=1), dummies1],axis=1)
inactive_loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_title,annual_inc,issue_d,loan_status,pymnt_plan,url,desc,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,verification_status_Verified,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
0,1077501,1296599,5000.0,5000.0,4975.0,10.65,162.87,NaN,24000.0,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1077430,1314167,2500.0,2500.0,2500.0,15.27,59.83,Ryder,30000.0,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1077175,1313524,2400.0,2400.0,2400.0,15.96,84.33,NaN,12252.0,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,1076863,1277178,10000.0,10000.0,10000.0,13.49,339.31,AIR RESOURCES BOARD,49200.0,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5,1075269,1311441,5000.0,5000.0,5000.0,7.90,156.46,Veolia Transportaton,36000.0,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,My wedding loan I promise to pay back,852xx,AZ,11.20,0.0,Nov-2004,3.0,NaN,NaN,9.0,0.0,7963.0,28.3,12.0,f,0.0,0.0,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.00,Jan-2015,161.03,Sep-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [48]:
# Create a new field for the target

#charged_off_loans['Charged_Off']=1
#current_loans['Current']=2
#charged_off_loans.Charged_Off.unique()
#charged_off_loans.head()
#current_loans.head()

inactive_loans['Charged_Off'] = inactive_loans['loan_status'].replace(['Charged_Off'],'1')
inactive_loans

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_title,annual_inc,issue_d,loan_status,pymnt_plan,url,desc,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,verification_status_Verified,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,Current
4,1075358,1311748,3000.0,3000.0,3000.0,12.69,67.79,University Medical Group,80000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.90,766.90,3242.17,3242.17,2233.10,1009.07,0.0,0.0,0.0,Jan-2016,67.79,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
6,1069639,1304742,7000.0,7000.0,7000.0,15.96,170.08,Southern Star Photography,47004.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/18/11 > I am planning o...,Loan,280xx,NC,23.51,0.0,Jul-2005,1.0,NaN,NaN,7.0,0.0,17726.0,85.6,11.0,f,1889.15,1889.15,8136.84,8136.84,5110.85,3025.99,0.0,0.0,0.0,Jan-2016,170.08,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2
32,1065420,1299514,10000.0,10000.0,9975.0,15.96,242.97,US Legal Support,29120.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,Brown Eyes Loan,330xx,FL,22.83,0.0,Feb-1997,1.0,68.0,NaN,11.0,0.0,16158.0,63.6,31.0,f,2695.31,2688.53,11622.36,11593.40,7304.67,4317.69,0.0,0.0,0.0,Jan-2016,242.97,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,2
39,1069346,1304237,12500.0,12500.0,12475.0,12.69,282.44,United States Infrastructure Corporation,27000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/20/11 > The purpose of ...,Credit card debt,604xx,IL,16.04,0.0,Dec-2001,3.0,NaN,NaN,6.0,0.0,10143.0,50.0,24.0,f,3193.13,3186.72,13506.54,13479.58,9306.87,4199.67,0.0,0.0,0.0,Jan-2016,282.44,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
61,1068934,1277395,17500.0,8950.0,8925.0,17.27,223.74,NaN,40000.0,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 11/28/11 > Thanks.<br> Bor...,Start Up,951xx,CA,19.47,0.0,May-2006,1.0,NaN,NaN,5.0,0.0,10724.0,58.9,6.0,f,2462.25,2455.34,10713.52,10683.65,6487.75,4225.77,0.0,0.0,0.0,Jan-2016,223.74,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,2

In [59]:
# Target variable 
status_dummy = pd.get_dummies(inactive_loans, columns=['loan_status'])
inactive_loans=status_dummy
inactive_loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_title,annual_inc,issue_d,pymnt_plan,url,desc,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,verification_status_Verified,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,emp_length_10+ years,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,loan_status_Charged Off,loan_status_Fully Paid
0,1077501,1296599,5000.0,5000.0,4975.0,10.65,162.87,NaN,24000.0,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
1,1077430,1314167,2500.0,2500.0,2500.0,15.27,59.83,Ryder,30000.0,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0
2,1077175,1313524,2400.0,2400.0,2400.0,15.96,84.33,NaN,12252.0,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,NaN,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,1076863,1277178,10000.0,10000.0,10000.0,13.49,339.31,AIR RESOURCES BOARD,49200.0,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
5,1075269,1311441,5000.0,5000.0,5000.0,7.90,156.46,Veolia Transportaton,36000.0,Dec-2011,n,https://www.lendingclub.com/browse/loanDetail....,NaN,My wedding loan I promise to pay back,852xx,AZ,11.20,0.0,Nov-2004,3.0,NaN,NaN,9.0,0.0,7963.0,28.3,12.0,f,0.0,0.0,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.00,Jan-2015,161.03,Sep-2015,0.0,NaN,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [60]:
#Get the correlation for the target variable - loan_status_Charged Off
inactive_loans.corr()['loan_status_Charged Off']

id                             -0.040479
member_id                      -0.038752
loan_amnt                       0.057023
funded_amnt                     0.056896
funded_amnt_inv                 0.055198
int_rate                        0.238690
installment                     0.043208
annual_inc                     -0.059147
dti                             0.111398
delinq_2yrs                     0.016475
inq_last_6mths                  0.057369
mths_since_last_delinq         -0.019255
mths_since_last_record          0.043773
open_acc                        0.009472
pub_rec                         0.001717
revol_bal                      -0.004850
revol_util                      0.097227
total_acc                      -0.033230
out_prncp                            NaN
out_prncp_inv                        NaN
total_pymnt                    -0.356296
total_pymnt_inv                -0.354527
total_rec_prncp                -0.457624
total_rec_int                   0.045935
total_rec_late_fee              0.149921
recoveries                      0.456350
collection_recovery_fee         0.314698
last_pymnt_amnt                -0.380728
collections_12_mths_ex_med      0.007038
mths_since_last_major_derog    -0.016985
policy_code                          NaN
acc_now_delinq                  0.006141
tot_coll_amt                   -0.001585
tot_cur_bal                    -0.074907
total_rev_hi_lim               -0.054123
term_ 60 months                 0.151065
grade_B                        -0.091921
grade_C                         0.022589
grade_D                         0.091156
grade_E                         0.110114
grade_F                         0.094137
grade_G                         0.052686
sub_grade_A2                   -0.055515
sub_grade_A3                   -0.054935
sub_grade_A4                   -0.060485
sub_grade_A5                   -0.056504
sub_grade_B1                   -0.045951
sub_grade_B2                   -0.045228
sub_grade_B3                   -0.038961
sub_grade_B4                   -0.029128
sub_grade_B5                   -0.019356
sub_grade_C1                   -0.008425
sub_grade_C2                   -0.001522
sub_grade_C3                    0.012502
sub_grade_C4                    0.019734
sub_grade_C5                    0.025699
sub_grade_D1                    0.030166
sub_grade_D2                    0.036157
sub_grade_D3                    0.036014
sub_grade_D4                    0.046829
sub_grade_D5                    0.043514
sub_grade_E1                    0.040573
sub_grade_E2                    0.052053
sub_grade_E3                    0.047492
sub_grade_E4                    0.049541
sub_grade_E5                    0.050896
sub_grade_F1                    0.040953
sub_grade_F2                    0.039649
sub_grade_F3                    0.045350
sub_grade_F4                    0.042594
sub_grade_F5                    0.042040
sub_grade_G1                    0.033262
sub_grade_G2                    0.026045
sub_grade_G3                    0.023140
sub_grade_G4                    0.011586
sub_grade_G5                    0.019067
verification_status_Verified    0.069362
purpose_credit_card            -0.029276
purpose_debt_consolidation      0.022241
purpose_educational            -0.000614
purpose_home_improvement       -0.017565
purpose_house                  -0.001215
purpose_major_purchase         -0.016367
purpose_medical                 0.005715
purpose_moving                  0.007201
purpose_other                   0.017089
purpose_renewable_energy        0.001983
purpose_small_business          0.039691
purpose_vacation               -0.001834
purpose_wedding                -0.009975
emp_length_10+ years           -0.013869
emp_length_2 years             -0.006434
emp_length_3 years             -0.004218
emp_length_4 years             -0.005145
emp_length_5 years             -0.001088
emp_length_6 years              0.002473
emp_length_7 years              0.003719
emp_length_8 years              0.001690
emp_length_9 years              0.003557
emp_length_< 1 year             0.004392
home_ownership_MORTGAGE        -0.050596
home_ownership_NONE            -0.000547
home_ownership_OTHER            0.000778
home_ownership_OWN              0.003392
home_ownership_RENT             0.049316
loan_status_Charged Off         1.000000
loan_status_Fully Paid         -1.000000
Name: loan_status_Charged Off, dtype: float64

In [68]:
# Scale the numeric features
from sklearn.preprocessing import StandardScaler
x=inactive_loans[['loan_amnt','funded_amnt','funded_amnt_inv','int_rate','installment','annual_inc','dti','delinq_2yrs','inq_last_6mths','mths_since_last_delinq','mths_since_last_record','open_acc','pub_rec','revol_bal','revol_util','total_acc','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','collections_12_mths_ex_med','mths_since_last_major_derog','mths_since_last_major_derog','acc_now_delinq','tot_coll_amt','tot_cur_bal','total_rev_hi_lim']]
x=x.fillna(0)
scaler=StandardScaler().fit(x)
x_scaled= scaler.transform(x)
x_scaled_df=pd.DataFrame(x_scaled, columns=x.columns)
x_scaled_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,mths_since_last_major_derog,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,-1.053009,-1.050930,-1.040172,-0.707561,-1.042092,-0.825316,1.425902,-0.337449,0.138268,-0.686445,-0.348523,-1.623309,-0.328701,-0.081096,1.185404,-1.365094,-0.817025,-0.809783,-0.779811,-0.525599,-0.131759,-0.212988,-0.146876,-0.075556,-0.421016,-0.421016,-0.051443,-0.008355,-0.714341,-0.777085
1,-1.360447,-1.359222,-1.344688,0.341982,-1.462779,-0.723296,-1.995730,-0.337449,3.887543,-0.686445,-0.348523,-1.623309,-0.328701,-0.719255,-1.807244,-1.790731,-1.328671,-1.318316,-1.324663,-0.731797,-0.131759,-0.056484,-0.137145,-0.075556,-0.421016,-0.421016,-0.051443,-0.008355,-0.714341,-0.777085
2,-1.372745,-1.371553,-1.356991,0.498732,-1.362751,-1.025073,-1.004548,-0.337449,1.075587,-0.686445,-0.348523,-1.827767,-0.328701,-0.651550,1.781517,-1.279967,-1.118319,-1.107975,-1.091597,-0.650228,-0.131759,-0.212988,-0.146876,-0.075556,-0.421016,-0.421016,-0.051443,-0.008355,-0.714341,-0.777085
3,-0.438133,-0.434346,-0.421914,-0.062388,-0.321730,-0.396830,0.443708,-0.337449,0.138268,0.854194,-0.348523,-0.192102,-0.328701,-0.510590,-1.340020,1.018471,-0.145859,-0.135560,-0.180220,0.127155,2.992773,-0.212988,-0.146876,-0.075556,-0.421016,-0.421016,-0.051443,-0.008355,-0.714341,-0.777085
4,-1.053009,-1.050930,-1.037096,-1.332289,-1.068262,-0.621275,-0.686137,-0.337449,2.012906,-0.686445,-0.348523,-0.396560,-0.328701,-0.384410,-1.045991,-1.109712,-0.841245,-0.830913,-0.779811,-0.636803,-0.131759,-0.212988,-0.146876,-0.075556,-0.421016,-0.421016,-0.051443,-0.008355,-0.714341,-0.777085

In [70]:
y=inactive_loans['loan_status_Charged Off']

In [74]:
!pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/2a/4f/11a257bc17f675691080219c6fe3525e49c7077535c3d64c0c2afc79cfc9/mlxtend-0.19.0-py2.py3-none-any.whl (1.3MB)
     || 1.4MB 1.3MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.13.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: numpy>=1.16.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.17.2)
Requirement already satisfied: scikit-learn>=0.20.3 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (3.1.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.19.0

In [75]:
# Top 7 numeric features that determine charge off using Forward Feature Selection

from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LogisticRegression

X= x_scaled_df
lreg = LogisticRegression()
sfs1 = sfs(lreg, k_features=7, forward=True, verbose=2, scoring='neg_mean_squared_error')
sfs1 = sfs1.fit(X, y)
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:   15.3s finished

[2022-05-10 23:25:41] Features: 1/7 -- score: -0.09017244179565773[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:   34.0s finished

[2022-05-10 23:26:15] Features: 2/7 -- score: -0.07225331446641589[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:   39.8s finished

[2022-05-10 23:26:55] Features: 3/7 -- score: -0.01001299259920126[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:   42.0s finished

[2022-05-10 23:27:37] Features: 4/7 -- score: -0.009333075079128245[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:   50.5s finished

[2022-05-10 23:28:28] Features: 5/7 -- score: -0.009277733720358363[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:   52.4s finished

[2022-05-10 23:29:20] Features: 6/7 -- score: -0.009242156691695659[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.7s remaining:    0.0s

['funded_amnt', 'delinq_2yrs', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'recoveries', 'mths_since_last_major_derog']

[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:   55.4s finished

[2022-05-10 23:30:15] Features: 7/7 -- score: -0.009186814239091788

In [78]:
# Categorical Feature selection using chi-squared - 

# Select the top 10 features using chi2

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif

x= inactive_loans[['term_ 60 months','grade_B','grade_C','grade_D','grade_E', 'grade_F', 'grade_G', 'verification_status_Verified','emp_length_10+ years','emp_length_3 years', 'emp_length_4 years', 'emp_length_2 years','emp_length_5 years', 'emp_length_6 years','emp_length_7 years', 'emp_length_8 years','emp_length_9 years','emp_length_< 1 year','home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT']]
chi2_selector= SelectKBest(chi2, k=10)
features_kbest=chi2_selector.fit_transform(x,y)

print("Original number of features:", x.shape[1])
print("Reduced number of features:", features_kbest.shape[1])

Original number of features: 23
Reduced number of features: 10

In [79]:
# Obtain the feature names of the top 5 influencing features
cols = chi2_selector.get_support(indices=True)
features_df_new = x.iloc[:,cols]
features_df_new.head()

,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,verification_status_Verified,home_ownership_MORTGAGE,home_ownership_RENT
0,0,1,0,0,0,0,0,1,0,1
1,1,0,1,0,0,0,0,1,0,1
2,0,0,1,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,1,0,1
5,0,0,0,0,0,0,0,1,0,1

                                Feature Engineering
                                
         The objective of the project is to build a model that determines if the loan in progress is likely to charge off or not. 
         
         The following activities are performed as part of feature engineering milestone - 
         
         1. From the loan dataframe, a subset of data is obtained for inactive loans, i.e, the loan that is already charged off or fully paid.
         2. Dropped the fields that have more than 97% of null data.
         3. Obtained unique values in categorical fields to check for conformance needs.
         4. Transformed data to achieve data conformance.
         5. Converted the categorical values into dummies in current loan dataframe.
         6. Assigned loan_status_Charged Off as Target variable. 
         7. Obtained the Correlation of other features with respect to the target variable.
         8. Scaled the numeric features for standardization.
         9. Using Forward selection technique, obtained the top 7 features impacting target variable.
         10.Using Chi Squared selection technique, obtained the top 10 categorical features impacting target variable.